@{
    Layout = "_Layout";
}

<div class="container-fluid m-0 p-0">
    <div class="justify-content-center background-img justify-content-center align-items-center">
        <div class="w-25 h-25 d-flex justify-content-center align-items-center flex-column bg-rounded bg-white">
            <h1>Lorem Ipsum Dolor</h1>
            <h3>Örebros bästa äventyrsbad, Gustavsvik!</h3>
        </div>
    </div>
</div>
