@{
    Layout = "_Layout";
}

<div class="container-fluid m-0 p-0">
    <div class="background-img align-items-center flex-column">
        <div class="bg-white m-3 p-3">
            <h1>Min sida</h1>
            <p>Denna sida nås endast genom att vara inloggad.</p>
        </div>
    </div>
</div>