@model Priser
@{
    Layout = "_Layout";
}

<!-- Formulär för att uppdatera (Edit) beskrivning till befintlig annan prisklass. -->
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="w-25 shadow p-3 mb-5 bg-white rounded">
        <h2>Ändra</h2>
        <form asp-action="Edit">
            <!-- När "ändra"-knappen klickas genereras en url /edit med hjälp av Edit i PriserController. -->
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Beskrivning</label>
                <select asp-for="PriserBeskrivningId" asp-items="ViewBag.PriserBeskrivningId" class="form-control" id="exampleFormControlInput1" placeholder="Beskriv det priset avser.."></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Spara" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>